body {
	font-family: 'RopaSans-Regular';
	background-color: #000;	
}

.text-header {
	text-align: center;
	padding: 10vh;
}

.clearPadding {
	margin-right: 0px;
	margin-left: 0px;
	padding:0px;
}

.header {
	height: 100vh;
	background: url('../img/header-1.png') 50% 0;
	background-size: cover;
	background-repeat: no-repeat;
	transition: 0.7s ease-in-out;
}

.navigation {
	background-color: #000;
	padding-bottom: 2em;
}

.section-2 {	
	background-color: #000;
}

.section-3 {
	margin-top: 100px;
}

.navbar-inverse {
	padding: 0 10px 0 10px;
	margin-bottom: 0px;
}

.navbar {
	border: none;
	border-radius:0px;
	font-size: 1.6rem;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: #444;
	transition: 0.7s all linear;
	height: 100%;
}

.container-fluid.navbar-collapse,.container-fluid .navbar-header {
	margin-right: 0px;
	margin-left: 0px;
}

.navbar-brand {
	padding-left: 30px;
}

.navbar-brand img {
	height: 100%;
}

.preview img{
	padding-top: 20px;
	height: 100%;
	width: 100%;
}
.navbar {
	border-radius: 0;
}

.navbar.affix {
	top: 0px;
	z-index: 9999;
	width: 100%;
	background-color: rgb(34,34,34,0.2);
}

.grid {
    position: relative;
    clear: both;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 5px 1%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 48%;
    height: auto;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption p {
	text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

figure.effect-apollo img {
    opacity: 0.95;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.05,1.05,1);
    transform: scale3d(1.05,1.05,1);
}

figure.effect-apollo figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.effect-apollo p {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 3em;
    padding: 0 1em;
    max-width: 150px;
    border-right: 4px solid #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-apollo h2 {
    text-align: left;
}

figure.effect-apollo:hover img {
    opacity: 0.6;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

figure.effect-apollo:hover figcaption::before {
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure.effect-apollo:hover p {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
    
@media (min-width: 768px) {

	.navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}
}

.bx-wrapper.bx-viewport {
	border: 0;
}

.bx-wrapper .bx-pager a {
border: solid #000 1px;
display: block;
margin: 0 5px;
padding: 3px;
}

.bx-wrapper .bx-pager a:hover,
.bx-wrapper .bx-pager a.active {
border: solid #5280DD 1px;
}

.text-header {
	display: none;  
	font-size: 3.5rem;
	justify-content: center;
	color: #fff;
}

